.navbar {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EDEFF7;
}

.nav_right-ctn {
    display: flex;
    gap: .5em
}

#logo {
    width: 10vh;
    height: 10vh;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    margin: 0 0 0 20px;
    justify-content: center;
    align-items: center;
    color: black
}

.navbar-btn {
    padding: 0.5em;
    margin: 0 1em;
    border: none;
    border-bottom: 1px solid transparent;
    color: black;
    font-size: larger;

    &:hover {
        color: rgb(100, 100, 100);
        transition: all ease-in-out 250ms;
        border-bottom: 1px solid black;
    }

    &:focus {
        outline: none;
    }
}