@import '@radix-ui/colors/blackA.css';
@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/violet.css';
@import '../variables.scss';

/* reset */
button {
    all: unset;
}

.SelectTrigger {
    // border: 1px solid lightgrey;
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: left;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 13px;
    line-height: 1;
    height: 35px;
    gap: 5px;
    background-color: transparent;
    color: black;
    font-size: 1em;
}


.SelectTrigger:hover {
    background-color: var(--mauve3);
}

.SelectTrigger:focus {
    box-shadow: 0 0 0 2px rgb(185, 185, 185);
}


.SelectContent {
    font-size: large;
    overflow: hidden;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35), 0px 10px 20px -15px rgba(22, 23, 24, 0.2);
}

.SelectViewport {
    padding: 5px;
}

.SelectItem {
    font-size: 1em;
    line-height: 1;
    border-radius: 3px;
    display: flex;
    align-items: center;
    height: 25px;
    padding: .4em .4em;
    position: relative;
    user-select: none;
    margin: .25em 0;
}

.SelectItem[data-disabled] {
    pointer-events: none;
}

.SelectItem[data-highlighted] {
    outline: none;
    transition: 100ms ease-in-out all;
    cursor: pointer;

    &:hover {
        font-weight: bold;
    }
}

.SelectLabel {
    padding: 0 25px;
    font-size: 12px;
    line-height: 25px;
    color: var(--mauve11);
}

.SelectSeparator {
    height: 1px;
    margin: 5px;
}

.SelectItemIndicator {
    position: absolute;
    left: 0;
    width: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.SelectScrollButton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    background-color: white;
    cursor: default;
}