.table-ctn {
    width: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: -1;
    margin-bottom: 5em;

    .table-header {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        font-weight: 700;
        font-size: larger;
        border-bottom: 1px solid rgb(63, 63, 63);
    }

    .phase-header {
        width: 80%;
        text-align: left;
        display: flex;
        align-items: center;
        gap: 1em;
        margin: .75em;

        >h3 {
            margin: 0;
            padding: 0;
            cursor: pointer;
        }

        .phase-toggle:hover {
            cursor: pointer;
            color: coral;
        }
    }
}

.phase-ctn {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: .5em;
    height: auto;

    .headers {
        font-weight: bolder;
    }
}

.row-ctn {
    display: grid;
    grid-template-columns: 2em 2em 10em 15% 2fr 10em 2em;
    width: 80%;
    z-index: 0;
    position: relative;
    height: 3.2em;
    gap: 1em;
    border: 1px solid lightgrey;
    border-radius: 10px;
    background-color: #EDEFF7;
    margin-bottom: .25em;


    >&.campaign {
        grid-template-columns: 2em 7.5em 1fr 1fr 15% 2em 2em;
    }

    &.new-row {
        width: 80%;
        margin-bottom: 2.5em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: none;
        background-color: transparent;


        >button {
            width: 5em;
        }

        .row-inputs {
            height: 3em;
            display: flex;
            width: 100%;
            flex-direction: row;
            align-items: center;
            border-radius: 10px;
            border: 1px solid lightgrey;

            >input {
                color: black;
                border: none;
                background-color: transparent;
                padding: .75em;

                &:focus {
                    outline: none;
                }
            }

            &.btn {
                width: fit-content;
                display: flex;
                flex-direction: row;
                justify-content: center;
                position: absolute;
                right: 0;
                border: 2px solid lightgrey;
                outline: none;
                transition: 150ms all ease-in-out;

                &:hover {
                    background-color: lightgrey;
                    font-weight: bold;
                }
            }
        }

    }
}

.row-ellipsis {
    position: absolute;
    right: 0;
    top: 50%;
    height: 2em;
    width: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1;
    transform: translateY(-50%);

    >svg {
        width: 1em;
        height: 1em;
        fill: rgb(63, 63, 63);
    }
}

.dropdown-ctn {
    position: absolute;
    right: 0;
    top: 100%;
    display: flex;
    flex-direction: column;
    z-index: 100;
}

.cell-ctn {
    padding: .5em .2em;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 .5em;

    &:last-child {
        border-right: none;
    }

    &.headers {
        >&.position {
            width: auto;
            grid-column-start: 2;

            >&.template {
                grid-column-end: span 2;
            }

            >&.campaign {
                grid-column-end: span 1;

            }
        }

        >&.position_units {
            display: none;
        }
    }

    >input {
        background-color: transparent;
        color: black;
        outline: none;
        border: none;
        font-size: .9em;
        padding: 0;
        margin: 0;
    }

    .select-span {
        display: flex;
        width: 100%;
        position: relative;
        height: 100%;
        align-items: center;

        :last-child {
            position: absolute;
            right: 0;
            top: 25%;
            background-color: yellow
        }
    }



    &_submit-btn {
        border: none;
        background-color: lightgreen;
        border-radius: 100px;
        height: 2em;
        width: 2em;
        justify-content: center;
        align-items: center;
    }


    &.position {
        border-right: none;
    }

    &.category {
        width: 100%;
        border-left: 1px solid lightgrey;
    }

    &.description {
        border-left: 1px solid lightgrey;
        width: 100%;
    }

    &.entity_responsible {
        border-left: 1px solid lightgrey;
        width: 100%;
    }

    &.type {
        width: 100%;
    }

    &.completed {
        width: 100%;
    }

    &.error {
        background-color: hsla(0, 100%, 79%, 0.445);
    }
}

.checkbox-ctn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    height: 100%;
    width: 2em;
    padding: 0 .4em;
}

.CheckboxRoot {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid lightgrey;
    height: 1em;
    width: 2em;
    padding: .4em;
    background-color: white;
    ;

    >button {
        width: 100%;
        height: 100%;
        padding: 0;
    }

}

.CheckboxIndicator {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(190, 190, 190);
    width: 1em;
    height: 100%;
    padding: 0;
    border-radius: 10px;
}