$background-primary: white;
$background-secondary: #EDEFF7;
$background-secondary-hover: #86a0ff;
$background-secondary-cta: #2548c5;
$accent: #ff6145;
$primary-color: rgb(224, 224, 224);
$bg-light: #444444;
$bg-dark: #2e2e2e;